WcfDmc/DmcTEst/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDmc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDmc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLaborUtilization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LaborUtilization" nillable="true" type="tns:LaborUtilization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaborUtilization" nillable="true" type="tns:ArrayOfLaborUtilization" />
  <xs:complexType name="LaborUtilization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndirectHours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Utilization" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaborUtilization" nillable="true" type="tns:LaborUtilization" />
</xs:schema>