WcfDmc/DmcTEst/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDmc" />
  <xs:element name="GetLaborUtilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaborUtilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDmc" minOccurs="0" name="GetLaborUtilizationResult" nillable="true" type="q1:ArrayOfLaborUtilization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>